@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Home Pedrojose";

    var fechaDia = DateTime.Now.ToLongDateString();
}

<div class="text-center">
    <h1 class="display-4">Bienvenido Majete Pedrojose</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">construccion Web apps with ASP.NET Core</a>.</p>
</div>
<p>La fecha de hoy es: @fechaDia</p>


