@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>Acercade Mi Empleado </h1>

<h2>El empleado principal y único se llama @ViewBag.ceo</h2>
<h2>@ViewBag.dedicacion</h2>
<h2>Este es el telefono personal: @ViewBag.telefono</h2>
<h2>Saludo: @ViewBag.saludo</h2>







   
