@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Esta es la página de inicio. Navega a través del menú para usar el conversor, ver información sobre monedas, aprender más sobre nosotros, o contactarnos.</p>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
